# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# ------------------------------
# Django
# ------------------------------
db.sqlite3
/media/
staticfiles/

# ------------------------------
# Environment Variables
# ------------------------------
.env
.env.*
!.env.example

# ------------------------------
# Virtual Environments
# ------------------------------
venv/
env/
.venv/

# ------------------------------
# Docker
# ------------------------------
postgres_data/
*.log

# ------------------------------
# IDE / Editor
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db